/*
	prevent character names from wrapping
 */

.side-list .character-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.side-list .partyHead {
    font-weight: 500;
	cursor: pointer;
}

.side-list .partyHead iron-icon {
	transition: transform 0.3s ease;
}

.side-list .partyHead iron-icon.open {
	transform: rotate(90deg);
}
