html /deep/ .operationDropDown {
	width: 152px;
}

html /deep/ .statDropDown {
	width: 152px;
}

html /deep/ .damageMultiplierDropDown {
	width: 152px;
}

html /deep/ .effectEdit paper-input {
	position: relative;
	bottom: 5px;
}

html /deep/ .effectEdit {
	height: 64px;
	display: flex;
	align-items: flex-end;
}
