.effectEdit .operationDropDown {
	width: 152px;
}

.effectEdit .statDropDown {
	width: 152px;
}

.effectEdit .damageMultiplierDropDown {
	width: 152px;
}

.effectEdit .deleteEffect {
	flex-shrink: 0;
}
