#accountSummary {
	padding-top: 32px;
	min-height: 146px;
	background-image: url(/png/paper-dice-crown.png);
  	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

#mainContentSection {
	display: initial !important;
}
