#accountSummary {
	min-height: 146px;
	color: white;
}

#mainContentSection {
	display: initial !important;
}

#navPanel {
	padding: 16px;
}

#navPanel paper-icon-item {
	background: white;
	cursor: pointer;
}

app-drawer-layout.layout {
	z-index: 0;
}

#accountSummary > #background {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
}

#accountSummary > #background > #backgroundFrontLayer {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	pointer-events: none;
	background-size: cover;
	background-image: url(/png/paper-dice-crown.png);
}
