#accountSummary {
	padding: 16px;
	min-height: 146px;
	background-image: url(/png/paper-dice-crown.png);
  	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	color: white;
}

#mainContentSection {
	display: initial !important;
}

#navPanel {
	padding: 16px;
}

#navPanel paper-icon-item {
	background: white;
	cursor: pointer;
}

.layout > core-header-panel {
	height: 100%;
}

.layout > core-animated-pages {
	height: 100%;
}
