html /deep/ .red {
	background-color: #F44336;
}

html /deep/ .pink {
	background-color: #E91E63;
}

html /deep/ .purple {
	background-color: #9C27B0;
}

html /deep/ .deep-purple {
	background-color: #673AB7;
}

html /deep/ .indigo {
	background-color: #3F51B5;
}

html /deep/ .blue {
	background-color: #2196F3;
}

html /deep/ .light-blue {
	background-color: #03A9F4;
}

html /deep/ .cyan {
	background-color: #00BCD4;
}

html /deep/ .teal {
	background-color: #009688;
}

html /deep/ .green {
	background-color: #4CAF50;
}

html /deep/ .light-green {
	background-color: #8BC34A;
}

html /deep/ .lime {
	background-color: #CDDC39;
}

html /deep/ .yellow {
	background-color: #FFEB3B;
}

html /deep/ .amber {
	background-color: #FFC107;
}

html /deep/ .orange {
	background-color: #FF9800;
}

html /deep/ .deep-orange {
	background-color: #FF5722;
}

html /deep/ .brown {
	background-color: #795548;
}

html /deep/ .grey {
	background-color: #9E9E9E;
}

html /deep/ .blue-grey {
	background-color: #607D8B;
}

html /deep/ .white {
	background-color: #ffffff;
}

html /deep/ .black {
	background-color: #000000;
}