.red {
	background-color: #F44336;
}

.pink {
	background-color: #E91E63;
}

.purple {
	background-color: #9C27B0;
}

.deep-purple {
	background-color: #673AB7;
}

.indigo {
	background-color: #3F51B5;
}

.blue {
	background-color: #2196F3;
}

.light-blue {
	background-color: #03A9F4;
}

.cyan {
	background-color: #00BCD4;
}

.teal {
	background-color: #009688;
}

.green {
	background-color: #4CAF50;
}

.light-green {
	background-color: #8BC34A;
}

.lime {
	background-color: #CDDC39;
}

.yellow {
	background-color: #FFEB3B;
}

.amber {
	background-color: #FFC107;
}

.orange {
	background-color: #FF9800;
}

.deep-orange {
	background-color: #FF5722;
}

.brown {
	background-color: #795548;
}

.grey {
	background-color: #9E9E9E;
}

.blue-grey {
	background-color: #607D8B;
}

.white {
	background-color: #ffffff;
}

.black {
	background-color: #262626;
}