root {
	display: block;
}

body {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial;
	margin: 0;
	overflow-x: hidden;
}

body.core-narrow {
	padding: 8px;
}

body /deep/ core-menu {
	overflow-x: hidden !important;
}

.calculatedValue {
	color: #021C33;
	font-weight: bold;
}

* {
	box-sizing: border-box;
}

td {
	padding: 0;
}

table {
	border-spacing: 0;
}

hr {
	background-color: #444;
	opacity: 0.12;
	border-width: 0;
	color: #444;
	height: 1px;
	line-height: 0;
	margin: 0 -16px;
	text-align: center;
}

paper-button {
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	color: #000;
	color: rgba(0,0,0,0.87);
	letter-spacing: 0.010;
}

.listRow {
	height: 32px;
}

.card {
	margin-bottom: 8px;
	/*hack to stop flickering*/
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(0);
	/*stop divs breaking over divide*/
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
	/*Fixes extra margin at top of columns*/
	display: inline-block;

	width: 100%;

	font-size: 14px;
	border-radius: 2px;
	background-color: white;
}

.card.double {
	padding: 0;
}

.card paper-button {
	font-size: 14px;
	letter-spacing: 0.01em;
}

.cardHeader {
	height: 48px;
	padding: 0 16px 0 16px;
	align-content: center;
	font-size: 14px;
	font-weight: 400;
	color: rgba(0, 0, 0, 0.54);
}

.statCard, .clickable {
	cursor: pointer;
}

.resourceCards {
	padding: 4px 4px 0 4px;
	margin-bottom: -4px;
}

.resourceCards .card {
	width: 180px;
	margin: 4px;
	flex-grow: 1;
	flex-shrink: 1;
}

.grey-background, body {
	background-color: #E0E0E0;
}

.center {
	text-align: center;
}

.screen-center {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.scroll-y {
	overflow-y: auto;
}

.fab-buffer {
	height: 88px;
	width: 100%;
	order: 999;
}

*[hidden] {
	visibility: hidden;
}

.hidden{
	opacity: 0;
}

@media (max-width: 640px) {
	html /deep/ paper-action-dialog[global-dialog] {
		top: 0 !important;
		left: 0 !important;
		width: 100%;
		height: 100%;
		margin: 0;
		border-radius: 0;
	}
}

.floatyButton {
	position: absolute;
	bottom: 24px;
	right: 24px;
}

paper-fab-menu /deep/ .container {
	padding: 24px !important;
}

paper-slider {
	margin-left: -8px;
}

.list-subhead {
	color: rgba(0,0,0,0.54);
	font-size: 14px;
	height: 40px;
	padding-left: 16px;
	font-weight: 500;
}

.whiteTop {
	border-bottom: rgba(0,0,0,0.12) solid 1px;
	background: white;
	padding: 16px;
	position: relative;
	border-radius: 2px 2px 0 0;
}

.whiteTop paper-icon-button {
	margin: -8px;
}

.fullwidth {
	width: 100%;
}

.padded {
	padding: 16px;
}

.listPadded {
	padding: 0 0 16px 0; 
}

.rightPadded {
	padding-right: 16px;
}

.bottomPadded {
	padding-bottom: 16px;
}

.s {
	padding: 0 0 16px 0;
}

.leftRound{
	border-radius: 2px 0 0 2px;
}

.preline {
	white-space: pre-line;
}
