<template name="signIn">
	<div id="accountSummary" class="padded white-text">
		{{#if loggingIn}}
			<paper-spinner active alt="Signing In"></paper-spinner>
		{{else}}{{#if currentUser}}
			{{#with currentUser}}
				<div class="body2">
					{{username}}
				</div>
				<div class="body1">
					{{#each emails}}
						{{address}}
					{{/each}}
					<paper-menu-button>
						<paper-icon-button icon="arrow-drop-down" noink></paper-icon-button>
						<paper-dropdown class="dropdown">
							<core-menu class="menu">
								<paper-item id="signOutButton">Sign Out</paper-item>
							</core-menu>
						</paper-dropdown>
					</paper-menu-button>
				</div>
			{{/with}}
		{{else}}
			{{#if session "creatingNewUser"}}
				{{> creatingUser}}
			{{else}} {{#if session "forgotPassword"}}
				{{> forgotPassword}}
			{{else}}
				{{> signingIn}}
			{{/if}}{{/if}}
		{{/if}}{{/if}}
	</div>
</template>

<template name="signingIn">
	<h2>Sign In</h2>
	<paper-input class="fullwidth" label="Email" id="emailInput"></paper-input><br>
	<paper-input-decorator class="fullwidth" label="Password">
		<input class="fullwidth" type="password" is="core-input" id="passwordInput">
	</paper-input-decorator><br>
	<paper-button raised id="signInButton">Sign In</paper-button>
</template>

<template name="creatingUser">
	<h2>New Account</h2>
	<paper-input class="fullwidth" label="Email" id="emailInput"></paper-input><br>
	<paper-input-decorator class="fullwidth" label="Password">
		<input class="fullwidth" type="password" is="core-input" id="passwordInput">
	</paper-input-decorator><br>
	<paper-button raised id="createAccountButton">Create Account</paper-button>
</template>

<template name="forgotPasswod">
	<h2>New Account</h2>
	<paper-input class="fullwidth" label="Email" id="emailInput"></paper-input><br><br>
	<paper-button raised id="recoverPasswordButton">Reset Password</paper-button>
</template>
