.library .item-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}

.library .library-header {
  font-weight: 500;
	cursor: pointer;
}

.library .library-header iron-icon {
	transition: transform 0.3s ease;
}

.library .library-header iron-icon.open {
	transform: rotate(90deg);
}
