.skillRow {
	height: 32px;
	margin: 0 -8px 0 -8px;
}

.skillRow core-icon {
	color: rgba(0,0,0,0.54);
}

.skillMod {
	width: 42px;
	text-align: center;
}

.skillName, .skillMod{
	
}

.fail.skillMod {
	color: #D50000;
}

.advantage{
	background-image: url(/png/advantage/greenUp.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.disadvantage{
	background-image: url(/png/advantage/redDown.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.hasConditionals::after{
	content: "*";
}
