.skill-row {
	.skill-mod{
		width: 45px;
		text-align: center;
		&.fail {
			color: #D50000;
		}
		&.advantage{
			background-image: url(/png/advantage/greenUp.png);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
		&.disadvantage{
			background-image: url(/png/advantage/redDown.png);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
		}
	}
}