<template name="feedback">
	<div class="fit layout vertical">
		<app-header-layout has-scrolling-region class="feedback flex">
			<app-header fixed effects="waterfall">
				<app-toolbar>
				  <div main-title>Feedback</div>
				</app-toolbar>
			</app-header>
			<div class="form flex">
				<div>
					<paper-input id="feedbackTitle" label="Title" floatinglabel required></paper-input>
				</div>
				<div>
					<paper-dropdown-menu label="Type" class="typeMenu">
						<paper-listbox class="dropdown-content"  selected="0">
							<paper-item label="General Feedback"> General Feedback </paper-item>
							<paper-item label="Bug">			  Bug              </paper-item>
							<paper-item label="Suggested Change"> Suggested Change </paper-item>
							<paper-item label="Feature Request">  Feature Request  </paper-item>
						</paper-listbox>
					</paper-dropdown-menu>
				</div>
				<div class="layout horizontal">
					<div class="paper-font-caption">not important</div>
					<paper-slider id="severity" class="flex" max=10 min=1 value=5 snap></paper-slider>
					<div class="paper-font-caption">important</div>
				</div>
				<paper-textarea label="Description" id="feedbackDescription" required></paper-textarea>
			</div>
		</app-header-layout>
		<div class="buttons layout horizontal end-justified">
			<paper-button id="cancelButton"
						  affirmative>
				Cancel
			</paper-button>
			<paper-button id="sendButton"
						  affirmative
						  disabled={{invalid}}>
				Send
			</paper-button>
		</div>
	</div>
</template>
