.skillRow {
	height: 32px;
	display: flex;
	align-items: center;
	position: relative;
}

.skillRow:hover{
	background: #FFEBEE;
}

.profIcon{
	display: inline-block;
	width: 40px;
	height: 26px;
	background-size: contain;
	background-repeat: no-repeat;

	/*TODO fix the actual images and remove inversion*/
	-webkit-filter: invert(100%);
	opacity: 0.54;
}

.skillMod {
	width: 20px;
	text-align: right;
}

.skillName, .skillMod{
	display: inline-block;
	vertical-align: top; 
	margin-right: 8px;
}

.fail.skillMod {
	color: #D50000;
}

.advantage{
	background-image: url(/png/advantage/greenUp.png);
	background-size: contain;
	background-repeat: no-repeat;
}

.disadvantage{
	background-image: url(/png/advantage/redDown.png);
	background-size: contain;
	background-repeat: no-repeat;
}

td.conditionals::after{
	content: "*";
}
