.buff-view {
	padding: 0;
	margin-bottom: 12px;
	cursor: default;
}

.buff-view paper-toggle-button {
	/*display: inline-flex;*/
}

.card .buff-view .top { /*the same as .card .top but without the pointer cursor*/
	cursor: default;
}

.buff-details {
	margin-top: 12px;
	margin-left: 12px;
	margin-right: 12px;
	padding-bottom: 12px;
}

.buff-details .paper-font-title { /*make it smaller and lighter*/
	color: rgba(0,0,0,0.54);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.010em;
    padding: 0px 0px 0px 6px;
}

.buff-details .effects,
.buff-details .proficiencies {
	font-size: 14px;
}

.buff-details .attacks {
	font-size: 14px;
}
