.containerTop {
	cursor: pointer;
}

.featureCardTop {
	margin-bottom: 8px;
}

.containerMain.featureDescription {
	white-space: pre-line;
}

.resourceCards paper-material.healthCard {
	width: 100%;
}

/*To change the ink color for checked state:*/
.containerTop paper-checkbox::shadow #ink[checked] {
	color: #ffffff;
}

/*To change the checkbox checked color:*/
.containerTop paper-checkbox::shadow #checkbox.checked {
	background-color: #ffffff;
	background-color: rgba(255,255,255,0.27);
	border-color: #ffffff;
	border-color: rgba(255,255,255,0.27);
}

/*ensure the checkmark is shown when ticked*/
.containerTop paper-checkbox::shadow #checkbox.checked #checkmark {
	display: initial;
}

/*To change the ink color for unchecked state:*/
.containerTop paper-checkbox::shadow #ink {
	color: #ffffff;
}

/*To change the checkbox unchecked color:*/
.containerTop paper-checkbox::shadow #checkbox {
	border-color: #ffffff;
	border-color: rgba(255,255,255,0.54);
}

/*ensure checkmark isn't shown early*/
.containerTop paper-checkbox::shadow #checkbox #checkmark {
	display: none;
}
