.containerTop {
	cursor: pointer;
}

.features {
	display: flex !important;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
	padding: 4px;
}

.featureCardTop {
	margin-bottom: 8px;
}

.containerMain.featureDescription {
	white-space: pre-line;
	padding: 16px 0 0 0;
}
