.carryCapacityBar {
	background-color: #7DC580;
	background-color: rgba(255,255,255,0.27);
	position: relative;
	height: 4px;
	div{
		height: 100%;
		position: absolute;
	}
	.tick {
		border-right: solid 2px #E5E5E5;
		border-right-color: rgba(255,255,255,0.54);
	}
}