.printedLongStat .title {
	white-space: nowrap;
	margin-left: 2mm;
}

.printedLongStat .numbers {
	z-index: 1;
	min-width: 74px;
	min-height: 45px;
}

.printed .printedLongStat.double-border{
	padding: 0;
}

.printed .printedLongStat.double-border:before {
    top: 4px;
    bottom: 4px;
    left: 33px;
}
