/*Column layout*/
.column-container {
	column-fill: balance;
	column-gap: 0px;
	column-width: 304px;
	padding: 4px;
	transform: translateZ(0);
}

.column-container.thin-columns {
	column-count: 4;
	column-width: 240px;
}

.column-container > div {
	padding: 4px;
	-webkit-column-break-inside: avoid;
	page-break-inside: avoid;
	break-inside: avoid;
}

/*Cards*/
.card {
	background: white;
	border-radius: 2px;
	position: initial;
}

.card .top {
	cursor: pointer;
	padding: 16px;
	border-radius: 2px 2px 0 0;
}

.card .top.white {
	cursor: auto;
	padding: 16px;
	border-bottom: rgba(0,0,0,0.12) solid 1px;
}

.card .bottom {
	padding: 16px;
	border-radius: 0 0 2px 2px;
}

.card .bottom.list {
	padding: 16px 0;
}

.card .bottom.list .paper-font-subhead {
	color: rgba(0,0,0,0.54);
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.010em;
	padding: 12px 16px 12px 16px;
}

.card .bottom.text {
	white-space: pre-wrap;
}

.card .left {
	padding: 16px;
	border-radius: 2px 0 0 2px;
	text-align: center;
	min-width: 72px;
}

.card .right {
	padding: 16px;
	border-radius: 0 2px 2px 0;
}

.card .left paper-icon-button {
	display: block;
	height: 32px;
	padding: 0;
	width: 32px;
}

.card .left paper-icon-button[disabled] {
	color: rgba(255, 255, 255, 0.2);
}

.card img, .card iron-image {
	max-width: 100%;
}
