/*
List items
*/
.item-slot {
	background-color: rgb(232, 232, 232);
	background-color: rgba(0, 0, 0, 0.1);
}

.item {
	background: white;
	cursor: pointer;
	font-size: 16px;
	height: 40px;
	margin: 1px 0 1px 0;
	padding: 0 16px 0 16px;
	position: relative;
	transition: box-shadow 0.3s ease, opacity 0.5s ease-in-out;
	&.small {
		height: 32px;
	}
	&.tall {
		height: 56px;
	}
	&.flexible {
		height: auto;
		padding-top: 16px;
		padding-bottom: 16px;
	}
	&[hero], &:active{
		box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.37);
		z-index: 10;
	}
	iron-icon, paper-icon-button {
		color: #747474;
		color: rgba(0,0,0,0.54);
	}
}
