@import "colors";

//apply a natural box layout model to all elements
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

root {
	display: block;
}

body {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial;
	margin: 0;
	overflow-x: hidden;
	background-color: #E0E0E0;
}

//Paragraphs
p {
	margin-bottom: 8px;
}

//Horizontal rule
hr {
	background-color: #444;
	opacity: 0.12;
	border-width: 0;
	color: #444;
	height: 1px;
	line-height: 0;
	margin: 16px 0;
	text-align: center;
}

.avatar {
	display: inline-block;
	box-sizing: border-box;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	font-size: 26px;
	font-color: rgba(255, 255, 255, 0.58) !important;
}

/*
	temporary fix for https://github.com/PolymerElements/paper-item/issues/71
 */
paper-icon-item::shadow #contentIcon {
    flex-shrink: 0;
}

//FABs
.floatyButton {
	position: fixed;
	bottom: 24px;
	right: 24px;
}

paper-fab {
	background-color: #d13b2e;
}

paper-fab.keyboard-focus {
    background: #630c05;
}

//Buttons
paper-button {
	color: #000;
	color: rgba(0,0,0,0.87);
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.010;
	text-transform: uppercase;
}

//Style shortcuts
.scroll-y {
	overflow-y: auto;
}

.clickable, core-item, paper-tab {
	cursor: pointer;
}

.pre-wrap, .prewrap{
	white-space: pre-wrap;
}

.padded {
	padding: 8px;
}

.fullwidth {
	width: 100%;
}

.fab-buffer {
    height: 100px;
}
