.meteor/local
.meteor/meteorite
.demeteorized
.cache
.vscode
.coverage
.nyc_output
.DS_Store
fileStorage
settings.json
public/components
public/_imports.html
private/oldClient
nohup.out
node_modules
dump
