root {
	display: block;
}

body {
	font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
	margin: 0;
	color: #333;
	overflow-x: hidden;
	box-sizing: border-box;
}

body.core-narrow {
	padding: 8px;
}

.calculatedValue {
	color: #021C33;
	font-weight: bold;
}

* {
	box-sizing: border-box;
}

h2 {
	margin: 0;
}

h3 {
	font-size: 16px;
	font-weight: 400;
}