root {
	display: block;
}

body {
	font-family: sans-serif;
	background: #201500;
	overflow-x: hidden;
	margin: 0px;
	box-sizing: border-box;
}

.calculatedValue {
	color: #021C33;
	font-weight: bold;
}

* {
	box-sizing: border-box;
}

h2 {
	margin: 0;
}