.equipment-pack-library-dialog .library-equipment-pack.selected {
	background-color: #e4e4e4;
}

.equipment-pack-library-dialog table {
	border-collapse: collapse;
}

.equipment-pack-library-dialog .library-equipment-pack td {
	position: relative;
}
