.healthCard paper-diff-slider{
	width: 100%;
	margin-right: 8px;
}

.healthCard #temporaryHitPointSlider {
	--paper-diff-slider-active-color: #009688; /* teal */
	--paper-diff-slider-knob-color: #009688; /* these don't seem to work? */
	--paper-diff-slider-pin-color: #009688;
}

.healthCard .tempHitPointSlider {
	--paper-diff-slider-active-color: #00BCD4; /* cyan */
	--paper-diff-slider-knob-color: #00BCD4; /* these don't seem to work? */
	--paper-diff-slider-pin-color: #00BCD4;
}

.healthCard .bottom-border {
	border-bottom: rgba(0,0,0,0.24) solid 1px;
	margin-bottom: 12px;
}

.healthCard #stableButton {
	color: #b71c1c;
	transition: color 0.4s ease;
	width: 100%;
}

.healthCard #stableButton:before {
	content: "Unstable";
}

.healthCard #stableButton.stable {
	color: #1b5e20;
}

.healthCard #stableButton.stable:before{
	content: "Stable";
}
