#stats {
	padding: 4px;
}

#stats, #stats .abilityFlex, #stats .statsFlex{
	display: flex !important;
	justify-content: center;
	align-items: stretch;
	flex-wrap: wrap;
}

#stats .card {
	flex-grow: 1;
	max-width: 480px;
}

#stats .abilityFlex{
	flex-basis: 642px;
	flex-grow: 1;
	flex-shrink: 1;
}

#stats .statsFlex{
	min-width: 152px;
	flex-basis: 0px;
	flex-grow: 1;
}

.attribute.card, .skill.card {
	padding: 0;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.card-top {
	flex-grow: 1;
	padding: 16px;
	border-radius: 2px 2px 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.editEffect > * {
	vertical-align: bottom;
}

.detailCard {
	background: white;
	border-radius: 2px;
	padding: 16px;
}

#armorHeading {
	background: url(/jpg/rusted-metal-armor.jpg) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#detailContainer {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

#detailContainer > *{
	pointer-events: auto;
}

#darkOverlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

section:not(.core-selected):not([animate]) paper-shadow[hero] {
	visibility: hidden;
}