.card-top {
	flex-grow: 1;
	padding: 16px;
	border-radius: 2px 2px 0 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.editEffect > * {
	vertical-align: bottom;
}

.detailCard {
	background: white;
	border-radius: 2px;
	padding: 16px;
}

#armorHeading {
	background: url(/jpg/rusted-metal-armor.jpg) no-repeat; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#detailContainer {
	position: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

#detailContainer > *{
	pointer-events: auto;
}

#darkOverlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.6);
}

section:not(.core-selected):not([animate]) paper-shadow[hero] {
	visibility: hidden;
}