.effectEdit .operationDropDown {
	width: 152px;
}

.effectEdit .statDropDown {
	width: 152px;
}

.effectEdit .damageMultiplierDropDown {
	width: 152px;
}

.effectEdit .deleteEffect {
	flex-shrink: 0;
}

.effectEdit .effect-table-view {
	align-self: center;
	color: #757575;
	color: rgba(0,0,0,0.54);
}

.effectEdit .iron-selected {
	color: #ad2a1f;
}
