.intro .section {
	width: 100%;
	min-height: 200px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding-top: 24px;
	padding-bottom: 24px;
}

.intro .section > div, .intro .section > h2 {
	padding: 32px;
}

.intro .section .display1 {
	margin-bottom: 16px;
}

.intro .section .columns > div {
	max-width: 300px;
	padding: 16px;
	text-align: center;
}

.intro .section paper-button {
	color: #FF5252;
}

.intro paper-button {
	min-width: 200px;
}
