.intro {
	.section {
		width: 100%;
		min-height: 200px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		padding-top: 24px;
		padding-bottom: 24px;
		& > div, & > h2 {
			padding: 32px;
			.display1 {
				margin-bottom: 16px;
			}
		}
		.columns > div{
			max-width: 300px;
			padding: 16px;
			text-align: center;
			paper-button {
				color: #FF5252;
			}
		}
	}
	paper-button {
		min-width: 200px;
		a {
			color: inherit;
			text-decoration: inherit;
		}
	}
}
