<template name="newUserStepper">
	<paper-stepper linear selected="0" class="newUserStepper">
		<paper-step id="step0" label="Add a feature">
			<p>
				To get started, add a feature
			</p>
			<div class="layout vertical end">
				<paper-button class="skip-button" style="color: #d13b2e">Skip</paper-button>
			</div>
		</paper-step>
		<paper-step id="step1" label="Add an effect">
			<p>
				Add a racial effect to set your speed
			</p>
			<div class="layout vertical end">
				<paper-button class="skip-button" style="color: #d13b2e">Skip</paper-button>
			</div>
		</paper-step>
		<paper-step id="step2" label="See the effect in action">
			<p>
				View your speed stat
			</p>
			<div class="layout vertical end">
				<paper-button class="skip-button" style="color: #d13b2e">Skip</paper-button>
			</div>
		</paper-step>
		<paper-step id="step3" label="Finish">
			<p>
				Done! If you get stuck, be sure to check out the <a href="/guide">guide</a>, or ask for help using the feedback form
			</p>
			<div class="layout vertical end">
				<paper-button class="done-button" style="color: #d13b2e">Finish</paper-button>
			</div>
		</paper-step>
	</paper-stepper>
</template>

<template name="newUserStepperPlaceholder">
	<div style="height: 300px"></div>
</template>
