<template name="layout">
	<app-drawer-layout class="layout" responsive-width="905px" fullbleed>
		<app-drawer style="z-index: 20;">
			{{> appDrawer}}
		</app-drawer>
		{{> yield}}
	</app-drawer-layout>
	<paper-toast id="global-toast" duration="5000">
		{{> Template.dynamic template=globalToastTemplate data=globalToastData }}
	</paper-toast>
	<dicecloud-wrapper>
		{{> dialogStack}}
	</dicecloud-wrapper>
</template>

<template name="appDrawer">
	<app-header-layout class="white" has-scrolling-region>
		<app-header id="accountSummary" effects="waterfall parallax-background" condenses fixed>
			<app-toolbar>
				{{#if currentUser}}
					<a href="/account" style="text-decoration: underline; cursor: pointer; font-size: 16px;">
						{{profileLink}}
					</a>
					<a href="/account" style="text-decoration: underline; cursor: pointer; font-size: 16px; margin-left: 8px;">
						{{patreonTier}} tier
					</a>
				{{else}}
					<a href="/sign-in" style="text-decoration: underline; cursor: pointer; font-size: 16px;">
						Sign in
					</a>
				{{/if}}
			</app-toolbar>
		</app-header>
		<div id="navPanel">
			<a href="/" tabindex="-1">
				<paper-icon-item id="homeNav">
					<iron-icon icon="home" item-icon></iron-icon>
					Home
				</paper-icon-item>
			</a>
			<a href="/characterList" tabindex="-1">
				<paper-icon-item id="characters">
					<iron-icon icon="social:people" item-icon></iron-icon>
					Characters
				</paper-icon-item>
			</a>
			<a href="/library" tabindex="-1">
				<paper-icon-item id="libary">
					<iron-icon icon="book" item-icon></iron-icon>
					Libraries (beta)
				</paper-icon-item>
			</a>
			<a href="/guide" tabindex="-1">
				<paper-icon-item id="guide">
					<iron-icon icon="social:school" item-icon></iron-icon>
					Guide
				</paper-icon-item>
			</a>
			<paper-icon-item class="feedback">
				<iron-icon icon="bug-report" item-icon></iron-icon>
				Send Feedback
			</paper-icon-item>
			<a class="patreon" href="{{patreonLink}}" target="_blank" tabindex="-1">
				<paper-icon-item>
					<iron-icon id="patreon-link-icon" icon="dicecloud:patreon" item-icon></iron-icon>
					{{#if showPatreonBadge}}
						<paper-badge
		            icon="av:new-releases"
		            for="patreon-link-icon"
		            label="New post">
		        </paper-badge>
					{{/if}}
					Patreon
				</paper-icon-item>
			</a>
			<a class="github" href="https://github.com/ThaumRystra/DiceCloud1" target="_blank" tabindex="-1">
				<paper-icon-item>
					<iron-icon icon="dicecloud:github" item-icon></iron-icon>
					Github
				</paper-icon-item>
			</a>
			<hr style="margin: 16px 0 24px 0;">
			{{> characterSideList}}
		</div>
	</app-header-layout>
</template>
