.condition-library-dialog .item.selected {
	background-color: #e4e4e4;
}

.condition-library-dialog table {
	border-collapse: collapse;
}

.condition-library-dialog .library-condition td, tr {
	position: relative;
}
