.characterPicker .character-name {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.characterPicker .partyHead {
    font-weight: 500;
}

.characterPicker .partyHead iron-icon {
	transition: transform 0.3s ease;
}

.characterPicker .partyHead iron-icon.open {
	transform: rotate(90deg);
}
