.containers {
	-webkit-column-width: 300px;
	   -moz-column-width: 300px;
	        column-width: 300px;
	-webkit-column-gap: 8px;
	   -moz-column-gap: 8px;
	        column-gap: 8px;
	-moz-column-fill: balance;
	     column-fill: balance;
	padding: 8px;
}

.containerLeft {
	padding: 16px;
	background-color: #2196F3;
	display: flex;
	justify-content: center;
	flex-direction: row;
	border-radius: 2px 0 0 2px;
	
	/* same style as display-1 */
	font-size: 34px;
	font-weight: 400;
	color: #ffffff;
	color: rgba(255,255,255,0.54);
	letter-spacing: 0;
}

.containerRight {
	padding: 16px;
	cursor: pointer;
	
	/* same style as subhead */
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	color: #000;
	color: rgba(0,0,0,0.87);
	letter-spacing: 0.010em;
}

.resourceValue {
	display: inline-block;
}

.resourceMax {
	display: inline-block;
	align-self: flex-end;
	
	/* same style as subhead */
	font-size: 16px;
	font-weight: 400;
	margin: 0;
	color: #fff;
	color: rgba(255,255,255,0.54);
	letter-spacing: 0.010em;
}

.resourceMax:before {
   content: "/";
}

.resourceButtons {
	margin: -16px -16px -16px 8px;
	align-self: center;
}

.resourceButtons paper-icon-button{
	width: 32px;
	height: 32px;
	padding: 0;
	display: block;
}

.resourceButtons paper-icon-button[disabled]{
	color: rgba(255, 255, 255, 0.26);
}

.resourceButtons /deep/ core-icon {
	width: 32px;
	height: 32px;
}

.containerTop {
	cursor: pointer;
	padding: 16px;
	position: relative;
	border-radius: 2px 2px 0 0;
}

.equipmentTop {
	padding: 16px;
	border-bottom: rgba(0,0,0,0.12) solid 1px;
}

.containerMain {
	padding: 16px;
}

.equipmentMain {
	padding-bottom: 16px;
}

.inventoryItem {
	background: white;
	transition: box-shadow 0.1s ease;
	height: 40px;
	margin: 1px 0 1px 0;
	font-size: 16px;
	color: rgba(0,0,0,0.87);
	letter-spacing: 0.010em;
}

.inventoryItem core-icon, .inventoryItem paper-icon-button {
	color: rgba(0,0,0,0.54);
}

.inventoryItem core-icon {
	margin-right: 16px;
}

.inventoryItem /deep/ .button-content {
	-webkit-flex: 1;
	flex: 1;
	-webkit-flex-basis: 0.000000001px;
	flex-basis: 0.000000001px;
}

.inventoryItem[hero] {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.itemSlot {
	background-color: rgb(232, 232, 232);
	background-color: rgba(0, 0, 0, 0.1);
}

#inventory .containerMain {
	padding: 0 0 16px 0;
}
