.containers {
	display: flex;
	flex-wrap: wrap;
	padding: 4px;
}

.container {
	width: 332px;
	flex-grow: 1;
}

.containerTop {
	cursor: pointer;
	margin: -16px -16px 0 -16px;
	padding: 16px;
	position: relative;
}

.equipmentTop {
	margin: -16px -16px 0 -16px;
	padding: 16px;
	border-bottom: rgba(0,0,0,0.12) solid 1px;
}

.containerMain {
	margin: 0 -16px -16px -16px;
	padding-bottom: 16px;
}

.equipmentMain {
	margin: 0 -16px -16px -16px;
	padding-bottom: 16px;
}

.inventoryItem {
	background: white;
	transition: box-shadow 0.35s cubic-bezier(0.4, 0, 0.2, 1);
	height: 40px;
	margin: 1px 0 1px 0;
	font-size: 16px;
	color: rgba(0,0,0,0.87);
	letter-spacing: 0.010em;
}

.inventoryItem /deep/ .button-content {
	-webkit-flex: 1;
	flex: 1;
	-webkit-flex-basis: 0.000000001px;
	flex-basis: 0.000000001px;
}

.inventoryItem[hero] {
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
}

.itemSlot {
	background-color: rgb(232, 232, 232);
	background-color: rgba(0, 0, 0, 0.1);
}
