.floatBox.ability {
	width: 85px;
	text-align: center;
	display: inline-block;
}

.abilityName {
	
}

.abilityScore {
	font-size: 2em;
}

.abilityMod {
	margin: 0 auto -15px;
	padding: 2px;
	border: 2px solid black;
	border-radius: 5px;
	background: white;
	width: 40px;
}
