.ability-mini-card {
	min-width: 75px;
	text-align: center;
	cursor: pointer;
	-webkit-margin-collapse: separate;
	background: #fff;
}

.ability-mini-card .title {
	padding: 16px;
}

.ability-mini-card .numbers {
	min-width: 72px;
	padding: 16px;
}

.ability-mini-card .modifier {
	font-weight: 600;
	font-size: 24px;
	color: #747474;
	color: rgba(0,0,0,0.54);
}
