.stat-card {
	min-width: 75px;
	text-align: center;
	cursor: pointer;
	-webkit-margin-collapse: separate;
	background: #fff;
}

.stat-card .title {
	padding: 16px;
}

.stat-card .numbers {
	min-width: 72px;
	padding: 16px;
}

.stat-card .skill-mod.advantage{
	background-image: url(/png/advantage/greenUp.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.stat-card .skill-mod.disadvantage{
	background-image: url(/png/advantage/redDown.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
