.healthBarContainer{
	width: 300px;
	height: 30px;
	display: flex;
	position: relative;
	align-items: center; /* align vertical */
	margin-top: 25px;
}

.healthBar{
	position: relative;
	height: 30px;
	flex-grow: 1;
}

.healthBarGreen{
	position: absolute;
	top: 2px;
	height: 26px;
	border-radius: 15px;
	background-color: #008C00;
}

.healthBarRed{
	position: absolute;
	top: 2px;
	height: 26px;
	border-radius: 15px;
	background-color: #AF0000;
}

.healthBarYellow{
	position: absolute;
	top: 2px;
	height: 26px;
	border-radius: 15px;
	background-color: #AF6700;
}

.healthBarBorder{
	position: absolute;
	left: -1px;
	height: 0px;
	width: 227px;
	border-width: 15px 37px 16px 37px;
	border-image: url('/png/bar-border.png') 46 112 48 112 stretch;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
}

.healthBarButton{
	display: inline-block;
	width: 30px;
	height: 30px;
}

.healthBarPlus{
	
}

.healthBarMinus{
	
}

.deltaHp{
	position: absolute;
	top: -20px;
}