.healthBarContainer{
	width: 300px;
	height: 30px;
	display: flex;
	position: relative;
	align-items: center; /* align vertical */
	margin-top: 25px;
}

.healthBar{
	position: relative;
	height: 30px;
	flex-grow: 1;
	display: flex;
	align-items: center; /* align vertical */
}

.healthBarGreen{
	position: absolute;
	top: 2px;
	height: 26px;
	border-radius: 15px;
	background-color: #008C00;
}

.healthBarRed{
	position: absolute;
	top: 2px;
	height: 26px;
	border-radius: 15px;
	background-color: #AF0000;
}

.healthBarYellow{
	position: absolute;
	top: 2px;
	height: 26px;
	border-radius: 15px;
	background-color: #CA9548;
}

.healthBarBorder{
	position: absolute;
	top: 0px;
	left: -1px;
	height: 0px;
	width: 228px;
	border-width: 15px 37px 16px 37px;
	border-image: url('/png/bar-border.png') 46 112 48 112 stretch;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	pointer-events: none;
}

.hpReadout {
	color: #FFE0B5;
}

.healthBarButton{
	display: inline-block;
	width: 30px;
	height: 30px;
}

.healthBarPlus{
	
}

.healthBarMinus{
	
}
/*deadbar*/
.deadText {
	color: #AF0000;
	text-align: center;
	flex-grow: 1;
	letter-spacing: 10px;
	font-weight: bold;
	cursor: default;
}

/*death saves bar*/
.deltaHp{
	position: absolute;
	top: -20px;
}

.deathSaveFail{
	display:inline-block;
}

.deathSavePass{
	display: inline-block;
}

.untickedDeathFail{
	display: inline-block;
	width: 30px;
	height: 28px;
	background-color: grey;
}

.tickedDeathFail{
	display: inline-block;
	width: 30px;
	height: 28px;
	background-color: red;
}

.untickedDeathPass{
	display: inline-block;
	width: 30px;
	height: 28px;
	background-color: grey;
}

.tickedDeathPass{
	display: inline-block;
	width: 30px;
	height: 28px;
	background-color: green;
}

.stability{
	display: inline-block;
	flex-grow: 1;
	text-align: center;
	color: #40D940;
	cursor: default;
}

.heal{
	display: inline-block;
	flex-grow: 1;
	text-align: center;
	color: #FFB44B;
	cursor: default;
}

.unstableButton{
	display: inline-block;
}