app-toolbar.medium-tall {
	height: 108px;
}

.character-name {
	padding-left: 16px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.character-menu paper-icon-item{
	cursor: pointer;
}

.character-sheet app-header {
    position: relative;
    z-index: 1;
}

.character-sheet iron-pages > div {
	overflow-y: auto;
	overflow-x: hidden;
}
